	body
	{
		width:100%;
		font-size:10px;
	}
	a
	{
		font-size:1.1em;
		color:#003666;
		text-decoration:none;
	}
	a:hover
	{
		color:#0063DC;
	}
	#container
	{
		background:#fff;
		position:relative;
	}

  .clearfix:after 
  {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .clearfix {display: inline-block;}  /* for IE/Mac */
	.jmorph
	{
			
			margin:auto 0px;
	}

	.jmorph .imageContainer
	{
		display:table;
	}
  
  .jmorph .image
  {
	background:#ccc;
	display:table-cell;
  }
  
  .jmorph .image .currentImg,.jmorph .image .nextImg
  {
  	background-repeat:no-repeat;
  	background-position:center; 
  	position:relative;
  }
  
  .jmorph .image .nextImg
  {
  	top:0; 
  	left:0; 
  	position:absolute;	
  	
  }
  
  .jmorph div a.previous,.jmorph div a.next
  { 
  	padding:0.5em;
  	margin:1em;
  	float:left;
  }

  .jmorph .image a.previous,.jmorph .image a.next
  {
  	font-size:1.5em;
  }
  
  .jmorph ul.band
  {
 	 background: url(thumbnailBg.jpg) repeat scroll left top transparent;
	float: left;
	width: 100%;
	padding:0px;
	margin:0px;
  }
  
  .bandContainer
  {
  	float:left;
  	text-align:left;
  }
  
  .jmorph ul.band li
  {
  	background: url(thumbnailLIBg.jpg) no-repeat scroll right top transparent;
	float: left;
	height: 50px;
	position: relative;
	width: 131px;
	list-style:none;
  }
  .arrow {
    background: url(topArrow.png) no-repeat scroll right top transparent;
    display: none;
    height: 10px;
    left: 0;
    position: absolute;
    top: -9px;
    width: 132px;
}
	.jmorph ul.band li:hover .arrow
	{
		display:block;
	}
  .jmorph ul.band li a
  {
 	color: #666666;
font: bold 11px Arial,Helvetica,sans-serif; 
  }
   .jmorph ul.band li a:hover, .jmorph ul.band li.selected a
   {
   		color:#fff;
   }
   .jmorph ul.band li:hover, .jmorph ul.band li.selected
  	{
  		background: #99CC33;
	} 
	.jmorph ul.band li.selected a .arrow
	{
		display:block;
	}
.text {
    padding: 19px 0 0;
	text-align:center;
}

.text01 {
    padding: 13px 14px 7px 13px;
}
.text02 {
    padding: 14px 16px 7px 21px;
}
.text03 {
    padding: 20px 16px 16px 18px;
}
.text04 {
    padding: 20px 18px 16px 30px;
}
.text05 {
    padding: 14px 32px 7px 29px;
}
.text06 {
    padding: 20px 25px 16px 29px;
}
 
  .jmorph ul.band .last
  {
  }